<!DOCTYPE html>
{% load remdow %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page1</title>
</head>
<body>

{% lazy_script_include %}

{{ '<img src="http://placehold.it/350x150"><img src="http://placehold.it/350x150"><img src="http://placehold.it/350x150">'|img_local|img_center|img_responsive|img_lazy }}

<br>
<div class="">
    {{ '<img src="http://placehold.it/350x150"><img src="http://placehold.it/350x150"><img src="http://placehold.it/350x150">'|img_local|img_center|img_responsive|img_lazy }}
</div>

</body>
</html>