<!DOCTYPE html>
{% load remdow %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page2</title>
</head>
<body>

{% lazy_script_include %}

{{ '<img src="http://placehold.it/350x150"><img src="http://placehold.it/350x150"><img src="http://placehold.it/350x150">'|img_local|img_responsive|img_lazy }}

{% with 'x5EdOI0-0EQ' as yotu_id %}
    {% with "http://img.youtube.com/vi/"|add:yotu_id|add:"/hqdefault.jpg" as yotu_link %}
        {{ '<img src="'|add:yotu_link|add:'"/>'|img_local|img_responsive }}
    {% endwith %}
{% endwith %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{{ '<img src="http://placehold.it/350x150"><img src="http://placehold.it/350x150"><img src="http://placehold.it/350x150">'|img_local|img_center|img_responsive|img_lazy }}

</body>
</html>